<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h3> HOME PAGE </h3>
    <div class="row">
        <div class="col-6">
            <a href="/bidList/list">Bid List</a>
            <a href="/curvePoint/list">Curve Points</a>
            <a href="/rating/list">Ratings</a>
            <a href="/trade/list">Trade</a>
            <a href="/ruleName/list">Rule</a>
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <p>
        <a href="/login">Login</a> or create one <a href="/user/list">User management</a>
    </p>
</div>

</body>
</html>